# Python
__pycache__/
*.pyc
.venv/

# Environment variables and secrets
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Local raw data
data/